h1 {
    padding-top :25px;
    background-color:  #fdfabd;
    padding-bottom: 25px;
    margin-top: 0px;
}
.breathVertical {
    margin-top:5px;
    margin-bottom:5px;
    padding-left: 40px;
    padding-right: 100px;
}


.breathHorizontal {
    margin-left:5px;
    margin-right:5px;
    padding-left: 40px;
    padding-right: 100px;
}

.todoStatusACTIVE {

    color : blue;
    padding-left: 50px;
    padding-right: 100px;
}


.todoStatusCOMPLETE{
    color : green;
    text-decoration : line-through;
    padding-left: 50px;
    padding-right: 100px;
}

.todoStatusDELETED {
    color : red;
    text-decoration : line-through;
    padding-left: 50px;
    padding-right: 100px;

}

hr {
    border-width : 2.5px ;
    color : red;
}

.todo
{
    width : 55%;
    padding-left: 10px;

    display: inline-block;
}
.headers
{
    color: red;
    padding-left:40px;
}
.hide {
    background:none;
    color:blue;
    border:none;
    font: inherit;
    padding-left : 200px;
    text-decoration: underline;
    cursor: pointer;
    outline: none;
    outline-offset: 0;
    /*border is optional*/

    cursor: pointer;
}


